<div class="container">
<div class="row">
  <h4>Manage Departments</h4>
</div>

<%= Guru::MaterialHtml.table(
  ['name','description'],
  [
    {'name'=>'Success','description'=>'making success','id'=>1},
    {'name'=>'Recruit','description'=>'Recruiting success','id'=>2}
  ],
  '',
  {'delete'=>{'url'=>'delete/department'}},
  {'class'=>'striped responsive-table'}
  ) %>
<hr/>
  <div class="row" style="margin-top:20px;">
    
    <div class="card pad10">
    <h4>Add Department</h4>
      <div class="row">

        <form class="col s12" method="post" action="/department">
         <%= Guru::MaterialHtml::input_field('text','name','Name','',{'required'=>'required'}) %>

          <%= Guru::MaterialHtml::text_area('description','Description','',{'required'=>'required'}) %>

          <%= Guru::MaterialHtml::submit('Create','',{'class'=>'waves-effect waves-light right'}) %>
        </form>
      </div>
    </div>
  </div>

</div>