<div class="container">
<div class="row">
  <h4>Manage Departments</h4>
</div>
<% 
  departments = Guru::Department.list
  department_records = []
  table_header = ['name','description','created_at']
  departments.each{|id,records|
    record = Hash.new
    record['id'] = id
    table_header.each{|key|
      record[key] = records[key]
    }
    department_records << record
  }

 %>
<%= Guru::MaterialHtml.table(
  table_header,
  department_records,
  '',
  {'delete'=>{'url'=>'delete/department'}},
  {'class'=>'striped responsive-table'}
  ) %>
<hr/>
  <div class="row" style="margin-top:20px;">
    
    <div class="card pad10">
    <h4>Add Department</h4>
      <div class="row">

        <form class="col s12" method="post" action="/department">
         <%= Guru::MaterialHtml::input_field('text','name','Name','',{'required'=>'required'}) %>

          <%= Guru::MaterialHtml::text_area('description','Description','',{'required'=>'required'}) %>

          <%= Guru::MaterialHtml::submit('Create','',{'class'=>'waves-effect waves-light right'}) %>
        </form>
      </div>
    </div>
  </div>

</div>