<div class="container">
<div class="row center">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content  green white-text">
                <p class="card-stats-title"><i class="material-icons">contacts</i> Departments</p>
                <h4 class="card-stats-number">566</h4>
                
            </div>
            
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content purple white-text">
                <p class="card-stats-title"><i class="material-icons">error_outline</i> Total Tickets</p>
                <h4 class="card-stats-number">800</h4>
                
            </div>
            
        </div>
    </div>                            
    
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content blue-grey white-text">
                <p class="card-stats-title"><i class="material-icons">warning</i> Unresolved Issues</p>
                <h4 class="card-stats-number">200</h4>
            </div>
           
        </div>
    </div>


    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content pink lighten-2 white-text">
                <p class="card-stats-title"><i class="material-icons">speaker_notes</i> Notification</p>
                <h4 class="card-stats-number">20</h4>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
 <div class="s12 m12">
  <ul id="task-card" class="collection with-header">
      <li class="collection-header teal white-text">
          <h4 class="task-card-title">Latest Tickets</h4>
      </li>
      <li class="collection-item">
          
          <label for="task1" style="text-decoration: none;">Create Mobile App UI. <a href="#" class="secondary-content"><span class="ultra-small"><i class="material-icons">visibility</i></span></a>
          </label>
          <span class="task-cat grey pad">Success</span>
          <span class="task-cat orange pad">Low</span>
      </li>

      <li class="collection-item">
          <label for="task1" style="text-decoration: none;">Create Mobile App UI. 
          <a href="#" class="secondary-content"><span class="ultra-small"><i class="material-icons">visibility</i></span></a>
          </label>
          <span class="task-cat grey pad">Recruitment</span>
          <span class="task-cat red pad">High</span>
      </li>
      
  </ul>
</div>

</div>
</div>