
<div class="center centralize" style="max-width: 500px">
<h3>User Login</h3>

<div class="row">
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="email" type="text" class="validate">
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate">
          <label for="icon_telephone">Password</label>
        </div>
        <div class="input-field">
          <p>Forgot your password? <a href="/recover">click here to recover password</a></p>
          <p>New Member? <a href="/signup">sign up now</a></p>
          <input type="submit" class="waves-effect waves-light btn right" value="Login">
        </div>
      </div>
    </form>
  </div>
</div>
</div>