<div class="container">
<div class="row">
  <h4>Notifications</h4>
</div>

<div class="row">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/user.jpg" alt="" class="circle">
      <span class="title">Nwuguru Sunday</span>
      <p> replied your ticke "Unable to eat food"</p>
    </li>
    <li class="collection-item avatar">
      <img src="images/user.jpg" alt="" class="circle">
      <span class="title">Nwuguru Sunday</span>
      <p> replied your ticke "Unable to eat food"</p>
    </li>
    <li class="collection-item avatar">
      <img src="images/user.jpg" alt="" class="circle">
      <span class="title">Nwuguru Sunday</span>
      <p> replied your ticke "Unable to eat food"</p>
    </li>
    
  </ul>
</div>
</div>