<div class="container">
<div class="row">
  <h4>Notifications</h4>
</div>
<div class="row">
  <ul class="collection">
<% 
  if Guru::Access.admin? session[:role]
    notifications = Guru::Notification.list
  else
    notifications = Guru::Notification.search('uid',session[:uid])
  end
  
  notifications.each{|id,records| %>
    <li class="collection-item avatar">
      <img src="images/user.jpg" alt="" class="circle">
      
      <p><%= records['comment'] %></p>
    </li>
<%  } %>
  </ul>
</div>
</div>