
<div class="center centralize" style="max-width: 500px">
<h3>User Signup</h3>

<div class="row">
  <div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate" required>
          <label for="icon_prefix">Name</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">my_location</i>
          <input id="location" type="text" class="validate" required>
          <label for="icon_prefix">Location</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" required>
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate" required>
          <label for="icon_telephone">Password</label>
        </div>
         <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input id="confirm_password" type="password" class="validate" required>
          <label for="icon_telephone">Confirm Password</label>
        </div>
        <div class="input-field">
          <p>Already a member? <a href="/login">click here to login</a></p>
          <input type="submit" class="waves-effect waves-light btn right" value="Create Account">
        </div>
      </div>
    </form>
  </div>
</div>
</div>