<div class="container">
<div class="row">
  <h4>Manage Tickets</h4>
  <a href="/new_ticket" class="btn">Raise Issue</a>
</div>
<% 
  tickets = Guru::Ticket.list
  ticket_records = []
  table_header = ['title','department','priority','status']
  tickets.each{|id,records|
    record = Hash.new
    record['id'] = id
    table_header.each{|key|
      record[key] = records[key]
    }
    ticket_records << record
  }

 %>

<%= Guru::MaterialHtml.table(
  table_header,
  ticket_records,
  '',
  {'delete'=>{'url'=>'delete/ticket'},'view'=>{'url'=>'view/ticket'}},
  {'class'=>'striped responsive-table'}
  ) %>

</div>