<div class="container">
<div class="row">
  <h4>Manage Users</h4>
  <a href="/new_user" class="btn">Create User</a>
</div>
<% 
  users = Guru::User.list
  user_records = []
  table_header = []
  users.each{|id,records|
    user_record = Hash.new
    user_record['id'] = id
    records.each{|key,value|
      user_record[key] = value
      if !table_header.include? key
        table_header << key 
      end
    }
    user_records << user_record
  }

 %>
<%= Guru::MaterialHtml.table(
  table_header,
  user_records,
  '',
  {'delete'=>{'url'=>'#','class'=>'delete_user'},'update'=>{'url'=>'update/user'}},
  {'class'=>'striped responsive-table'}
  ) %>

</div>